*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.options{
  color:white
}
body{
  position: relative;
  background-color: #1f1f1f;
}
body{
  background-color: white;
}
#chat #messages{
  overflow-y: scroll;
  color: white;
}
.members{
  display: inline-block;
}
.you{
  color:red
}
.notyou{
  color:blue
}
.write{
  height: 100vh;
}
@media only screen and (max-width:1000px){
  #chat #messages{
    height: 32vh;
  }
}